[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=BlockBluetooth
Comment=Block bluetooth device with rfkill
Exec=sudo rfkill block bluetooth
OnlyShowIn=XFCE;
RunHook=0
StartupNotify=false
Terminal=false
Hidden=false

